{
	"presets": [
		"@wordpress/default"
	],
	"env": {
		"production": {
			"plugins": [
				[
					"@wordpress/babel-plugin-makepot",
					{
						"output": "languages/spoiler-alert.pot"
					}
				]
			]
		}
	}
}
