.wp-block-spoiler-alert-spoiler-alert .spoiler-alert__content {
	display: none;
}

.spoiler-alert__message {
	min-height: 40px;
}

.spoiler-alert__message span {
	display: block;
	padding: 6px 0 0 45px;
	position: relative;
}

.spoiler-alert__message span::before {
	background-repeat: no-repeat;
	background-size: 40px;
	content: " ";
	display: block;
	float: left;
	height: 40px;
	left: 0;
	position: absolute;
	top: 0;
	width: 40px;
}

.is-mild .spoiler-alert__message span::before {
	background-image: url("../assets/images/mind-alert.png");
}

.is-moderate .spoiler-alert__message span::before {
	background-image: url("../assets/images/moderate-alert.png");
}

.is-insane .spoiler-alert__message span::before {
	background-image: url("../assets/images/insane-alert.png");
}

.spoiler-alert__expander {
	text-align: center;
}
